@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Euclid';
  src: url('../fonts/EUCLID CIRCULAR A REGULAR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoldWest';
  src: url('../fonts/gold-west.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Euclid', sans-serif;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
